<div class="login-container">
  <div class="login-box">
    <h2>Inicio de sesión </h2>
    <form (ngSubmit)="onSubmit()">
      <dx-text-box
        [(value)]="email"
        placeholder="Usuario"
        stylingMode="outlined">
      </dx-text-box>

      <dx-text-box
        [(value)]="password"
        mode="password"
        placeholder="Contraseña"
        stylingMode="outlined">
      </dx-text-box>

      <dx-button
        text="Ingresar"
        type="success"
        (onClick)="onSubmit()"
        stylingMode="contained">
      </dx-button>
    </form>
  </div>
</div>
